

header {
      background-image: url();
      width: 50vh;
      height: 50px;
      display:flex;
}

nav li {
      list-style-type: none;
      display: inline;
}

.Shape1 {
      border-style: outset;
      background-color: red;
      padding: 10px;
      width: 50vh;
      height: 10vh;
      animation: move 1s linear -2s infinite alternate both;
}

@keyframes move {
      0% {
            transform: translateY(0px);
            background-color: red;
      }
      20% {
            transform: translateY(20px);
            background-color: chartreuse;
      }
      40% {
            transform: translateY(40px);
            background-color: darkblue;
      }
      60% {
            transform: translateY(60px);
            background-color: crimson;
      }
      80% {
            transform: translateY(80px);
            background-color: darkgoldenrod;
      }
      100% {
            transform: translateY(100px);
            background-color: teal;
      }
}


.Shape2 {
      border-style: outset;
      background-color: green;
      padding: 10px;
      margin-top: 50px;
      width: 50vh;
      height: 20vh;
      animation: load 1s ease-in -1s infinite alternate-reverse forwards;
}

@keyframes load {
      0% {
            background-color: green;
            transform: translateX(0px);
      }
      50% {
            background-color: yellow;
            transform: translateX(50px);
      }
      100% {
            background-color: red;
            transform: translateX(100px);
      }
}

.Shape3 {
      border-style: dotted;
      background-color: yellow;
      margin-top: 20px;
      padding: 10px;
      height: 20vh;
      width: 50vh;
      border-radius: 170px;
      animation: rotate -2s ease-in-out 1s infinite alternate-reverse backwards;
}

@keyframes rotate {
      0% {
            transform: rotateX(0);
            background-color: aqua;
      }
      100% {
            transform: rotateX(360);
            background-color: palevioletred;
      }
}

.shape4 {
      border-style: groove;
      background-color: blue;
      margin-top: 20px;
      padding: 10px;
      width: 50vh;
      height: 10vh;
      border-bottom-left-radius: 80px;
      border-top-right-radius: 80px;
      animation: changeColor 2s linear 1s infinite alternate both;
      animation-duration: 2s;
}

@keyframes changeColor {
      0% {
            background-color: blue;
      }
      10% {
            background-color: red;
      }
      20% {
            background-color: yellow;
      }
      30% {
            background-color: green;
      }
      40% {
            background-color: brown;
      }
      80% {
            background-color: pink;
      }
      100% {
            background-color: purple;
      }
}